<p id="notice"><%= notice %></p>


<% @events.each do |event| %>



    <div class="jumbotron">

      <div style="clear: both">
        <p style="float: right;"><%= event.date %></p>


        <h2><%= event.name %></h2>
      </div>
        <p><%= event.preview %></p>


        <%= link_to 'More info', event, class: "btn btn-primary" %>


    </div>




<% end %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Preview</th>
    <th>Date</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.preview %></td>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
