<% @events.each do |event| %>

    <div class="jumbotron">

      <div style="clear: both">
        <p style="float: right;"><%= event.date %></p>
        <h2><%= event.name %></h2>
      </div>
      <div style="clear: both">
      <p style="float: right;">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <%= event.attendances.count %>
        </p>

      <p><%= event.preview %></p>
      </div>

      <%= link_to 'More info', event, class: "btn btn-primary" %>

    </div>

<% end %>

